@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffebd2;
}

.form form button[type="submit"] {
    background-color: white;
    border: none;
    color: #251351;
    border: 1px solid;
    border-radius: 5px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.form form button[type="submit"]:hover {
    background-color: #040926;
    color: white;
}

.main-wrapper {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px solid cornflowerblue;
    background-color: white;
}

.main-wrapper h1,
h2,
h3,
h4 {
    text-align: center;
}

.main-wrapper h4 {
    color: #040926;
}

.form {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.main-img {
    padding: 20px;
}

.main-img p {
    text-align: center;
}

.main-img img {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    border: 0.5px solid#040926;
    padding: 20px;
}

.selection p {
    border: 0.5px solid #040926;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: white;
}

.form form select {
    background-color: white;
    color: #040926;
    border: 1px solid;
    border-radius: 5px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.form form select:hover {
    background-color: #040926;
    color: white;
}

.submit p {
    background-color: cornflowerblue;
    border: 0.5px solid #040926;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
}

.title {
    background-color: powderblue;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.main-wrapper-output {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.output-detail table td {
    padding: 15px;
}

.ad-detail {
    color: cornflowerblue;
}

.try-again input[type="submit"] {
    background-color: white;
    border: none;
    color: #251351;
    border: 1px solid;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
}

.try-again input[type="submit"]:hover {
    background-color: #c3b4df;
    color: white;
}

.container .form {
    position: fixed;
    top: 150px;
    right: 1px;
}

.container .form input {
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.container .form input[type="submit"] {
    background-color: #c3b4df;
    color: #251351;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.container .form input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.726);
    color: #251351;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.container .ul.ks-cboxtags {
    max-width: 980px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 10px;
}

ul.ks-cboxtags li {
    display: block;
    float: left;
    margin: 20px;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid #97addd;
    color: #97addd;
    border-radius: 25px;
    white-space: normal;
    margin: 5px 5px;
    width: 300px;
    height: 300px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 16px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label {
    border: 2px solid #eac1dc;
    background-color: #c3b4df;
    color: white;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus+label {
    border: 2px solid #97addd;
}


/**Navigation bar**/

#hero {
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgb(234 237 247 / 80%), rgb(234 237 247 / 80%)), url("background.jpg") center top no-repeat;
    background-size: cover;
    position: relative;
}

#hero .container {
    text-align: center;
    padding-top: 50px;
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: black;
}

#hero h2 {
    color: black;
    margin: 15px 0 0 0;
    font-size: 22px;
}

#hero .btn-get-started input {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 40px;
    border: 2px solid #97addd;
    color: #251351;
}

#hero .btn-get-started input:hover {
    background: #97addd;
    color: black;
    cursor: pointer;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero {
        height: 100vh;
    }
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
}